{% load change %}
{% load static %}

<section id="news-section">
    <h3 class="news-section-heading">Section Title</h3>
    <div class="news-div">
        {% for placement in '01234567'|make_list %}
            <a class="new-container link article" data-chosen="" data-num="{{forloop.counter}}">
                <div class="new-image">
                    <img src="{% static 'CS50_News/cover/test-img.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h6 class="content-heading">headline</h6>
                    <p>sub headline</p>
                    <div class="secondary-div">
                        <span>1d ago</span>
                        <div></div> 
                        <span>category</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>