{% load change %}
{% load static %}

{% with articles=section.articles.all %}

<section id="only-section-design">
    <input type="text" class="t-input" name="title" value="{% if section.title %}{{section.title}}{% endif %}" placeholder="Section Title">
    <div class="only-div">
    {% custom_range 0 2 as col %}
    {% for i in col %}
        {% with article=articles|position:i %}
            {% if article %}
                <a class="article tn link" data-num="{{forloop.counter0}}">
                    <input type="hidden" value="{{article.article.id}}" name="{{forloop.counter0}}">
                    <div class="img">
                        <img src="{{article.article.image.url}}" alt="">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">{{article.article.headline}}</h6>
                        <p>{{article.article.sub_headline}}</p>
                        <div class="secondary-div">
                            <span>{{article.article.timestamp|timesince|safe}}</span>
                            <div></div>
                            <span>{{article.article.get_sub_category_display|change:"_ "}}</span>
                        </div>
                    </div>
                </a>
            {% else %}
                <a class="tn link article" data-chosen="" data-num="{{forloop.counter0}}">
                    <input type="hidden" value="" name="{{forloop.counter0}}">
                    <div class="img">
                        <img src="{% static 'CS50_News/test-img.png' %}" alt="">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">headline</h6>
                        <p>sub headline</p>
                        <div class="secondary-div">
                            <span>1d ago</span>
                            <div></div> 
                            <span>category</span>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endwith %}
    {% endfor %}
</section>
{% endwith %}