{% load change %}
{% load static %}

<section class="one-article-section" id="right-section">
    <h3>
        <a class="link">Category</a>
    </h3>
    <a class="side-img-article link article" data-chosen="" data-num="0">
        <div class="content">
            <h6 class="content-heading">headline</h6>
            <p>sub headline</p>
            <div class="secondary-div side-secondary">
                <span>1d ago</span>
                <div></div> 
                <span>category</span>
            </div>
        </div>
        <div class="img">
            <img src="{% static 'CS50_News/cover/test-img.jpg' %}" alt="">
        </div>
    </a>
</section>