{% load change %}
{% load static %}

{% with articles=section.articles.all %}

<section id="scroll-section-design">
    <div id="scroll-heading">
        <input type="text" class="t-input" name="title" value="{% if section.title %}{{section.title}}{% endif %}" placeholder="Section Title">
        <div id="scroll-buttons">
            <button type="button" class="btn scroll-left"><i class="fa-solid fa-chevron-left"></i></button>
            <button type="button" class="btn scroll-right"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
    <div class="scroll-div" data-mouse-position="0" data-percentage="0">
        {% custom_range 0 8 as col1 %}
        {% for i in col1 %}
            {% with placement=articles|position:i %}
                {% if placement %}
                    <a class="new-container link article" data-id="{{placement.position}}" data-i="{{i}}" data-num="{{forloop.counter0}}" draggable="false">
                        <input type="hidden" value="" name="{{forloop.counter0}}">
                        <div class="new-image">
                            <img src="{{placement.article.image.url}}" alt="" draggable="false">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{placement.article.headline}}</h6>
                            <p>{{placement.article.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{placement.article.timestamp|timesince|safe}}</span>
                                <div></div>
                                <span>{{placement.article.get_sub_category_display|change:"_ "}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a class="new-container link article" draggable="false" data-num="{{forloop.counter0}}">
                        <input type="hidden" value="" name="{{forloop.counter0}}">
                        <div class="new-image">
                            <img src="{% static 'CS50_News/test-img.png' %}" alt="" draggable="false">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">headline</h6>
                            <p>sub headline</p>
                            <div class="secondary-div">
                                <span>1d ago</span>
                                <div></div> 
                                <span>category</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
</section>
{% endwith %}