{% load change %}
{% load static %}

<section id="scroll-section">
    <div id="scroll-heading">
        <h3 class="scroll-section-heading">Section Title</h3>
        <div class="buttons">
            <button type="button" class="btn scroll-left"><i class="fa-solid fa-chevron-left"></i></button>
            <button type="button" class="btn scroll-right"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
    <div class="scroll-div" data-mouse-position="0" data-percentage="0">
        {% for placement in '01234567'|make_list %}
            <a class="new-container link article" draggable="false" data-chosen="" data-num="{{forloop.counter}}">
                <div class="new-image">
                    <img src="{% static 'CS50_News/cover/test-img.jpg' %}" alt="" draggable="false">
                </div>
                <div class="content">
                    <h6 class="content-heading">headline</h6>
                    <p>sub headline</p>
                    <div class="secondary-div">
                        <span>1d ago</span>
                        <div></div> 
                        <span>category</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>