{% load change %}
{% load static %}
 
<section id="trending-section-design">
    {% if section.id %}
        {% if section.title %}
            <input type="text" class="t-input" name="title" value="{{section.title}}" placeholder="Section Title">
        {% endif %}
        <div>
            {% for placement in section.articles.all %}
                <div class="trend">
                    <a class="article link">
                        <span>
                            {{forloop.counter}}
                        </span>
                        <h6>
                            {{placement.article.headline}}
                        </h6>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="section-heading trending-section-heading">Section Title</h3>
        <div>
            {% for placement in '0123456789'|make_list %}
                <div class="trend">
                    <a class="link article" data-chosen="" data-num="{{i}}">
                        <input type="hidden" value="" name="{{i}}">
                        <span>
                            {{forloop.counter}}
                        </span>
                        <h6>
                            article main headline
                        </h6>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</section>