{% load change %}

<section class="featured-section" id="featured-section">
    {% if section.title %}
        <h3 class="Featured-section-heading">{{section.title}}</h3>
    {% endif %}
    <div class="Featured">
        <div class="column-section">
            {% for placement in section.articles.all|slice:":4" %}
                {% if forloop.first %}
                    <h4 class="Featured-sub_heading">{{placement.article.get_category_display}}</h4>
                    <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article main link">
                        <div class="img">
                            <img src="{{placement.article.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{placement.article.headline}}</h6>
                            <p>{{placement.article.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{placement.article.timestamp|timesince|safe}}</span>
                                <div></div>
                                <span>{{placement.article.get_sub_category_display}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                        <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article link column-side-new">
                            <div>
                                <h6>{{placement.article.headline}}</h6>
                                <div class="secondary-div">
                                    <span>{{placement.article.timestamp|timesince|safe}}</span>
                                    <div></div>
                                    <span>{{placement.article.get_sub_category_display}}</span>
                                </div>
                            </div>
                        </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="column-section">
            {% for placement in section.articles.all|slice:"4:8" %}
                {% if forloop.first %}
                    <h4 class="Featured-sub_heading">{{placement.article.get_category_display}}</h4>
                    <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article main link">
                        <div class="img">
                            <img src="{{placement.article.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{placement.article.headline}}</h6>
                            <p>{{placement.article.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{placement.article.timestamp|timesince|safe}}</span>
                                <div></div>
                                <span>{{placement.article.get_sub_category_display}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                        <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article link column-side-new">
                            <div>
                                <h6>{{placement.article.headline}}</h6>
                                <div class="secondary-div">
                                    <span>{{placement.article.timestamp|timesince|safe}}</span>
                                    <div></div>
                                    <span>{{placement.article.get_sub_category_display}}</span>
                                </div>
                            </div>
                        </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="column-section">
            {% for placement in section.articles.all|slice:"8:" %}
                {% if forloop.first %}
                    <h4 class="Featured-sub_heading">{{placement.article.get_category_display}}</h4>
                    <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article main link">
                        <div class="img">
                            <img src="{{placement.article.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{placement.article.headline}}</h6>
                            <p>{{placement.article.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{placement.article.timestamp|timesince|safe}}</span>
                                <div></div>
                                <span>{{placement.article.get_sub_category_display}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                        <a href="{% url 'new' cat=placement.article.get_category_display sub=placement.article.get_sub_category_display slug=placement.article.slug %}" class="article link column-side-new">
                            <div>
                                <h6>{{placement.article.headline}}</h6>
                                <div class="secondary-div">
                                    <span>{{placement.article.timestamp|timesince|safe}}</span>
                                    <div></div>
                                    <span>{{placement.article.get_sub_category_display}}</span>
                                </div>
                            </div>
                        </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<div class="light-seperator"></div>
