{% load change %}

<section class="one-article-section left">
    <h3>
        <a class="link" href="{% url 'cat_index' cat=section.articles.all.0.article.get_category_display %}">{{section.articles.all.0.article.get_category_display}}</a>
    </h3>
    <a class="side-img-article link" href="{% url 'new' cat=section.articles.all.0.article.get_category_display sub=section.articles.all.0.article.get_sub_category_display slug=section.articles.all.0.article.slug %}">
        <div class="img">
            <img src="{{section.articles.all.0.article.image.url}}" alt="">
        </div>
        <div class="content">
            <h6 class="content-heading">{{section.articles.all.0.article.headline}}</h6>
            <p>{{section.articles.all.0.article.sub_headline}}</p>
            <div class="secondary-div side-secondary">
                <span>{{section.articles.all.0.article.timestamp|timesince|timeformat|safe}}</span>
                <div></div>
                <span>{{section.articles.all.0.article.get_sub_category_display|change:"_ "}}</span>
            </div>
        </div>
    </a>
</section>

<div class="section-seperator"></div>