{% extends 'CS50_News/layout.html' %}
{% load change %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CS50_News/staff.css' %}">
{% endblock %}

{% block body %}
    <div id="admin-container">
        <div class="news-container" data-mouse-down-at="0" data-percentage="0">
            <a class="create link" href="{% url 'add' %}" draggable="false">
                +
            </a>
            {% for new in news %}
                <a href="{% url 'new' cat=new.get_category_display sub=new.get_sub_category_display slug=new.slug %}" class="created link" draggable="false">
                    <div class="img">
                        <img src="{{new.image}}" alt="" draggable="false">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">{{new.headline}}</h6>
                        <p>{{new.sub_headline}}</p>
                        <div class="secondary-div">
                            <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                            <div></div>
                            <span>{{new.get_sub_category_display}}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div id="distribution-container">
            <a href="{% url 'page' %}" class="link">
                <div id="distribution-wrapper">
                    <div id="title">

                    </div>
                    <div>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script src="{% static 'CS50_News/admin.js' %}"></script>
{% endblock %}