{% extends 'CS50_News/layout.html' %}
{% load change %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CS50_News/staff.css' %}">
{% endblock %}

{% block body %}
    <header>
        {% include "CS50_News/sub_templates/_main-header.html" %}
    </header>
    {% include "CS50_News/sub_templates/_offcanvas.html" %}
    <div class="news-container" data-mouse-down-at="0" data-percentage="0">
        <a class="create" href="{% url 'add' %}" draggable="false">
            +
        </a>
        {% for new in news %}
            <a class="created" draggable="false">
                <div class="img">
                    <img src="{{new.image}}" alt="" draggable="false">
                </div>
                <div class="content">
                    <h6 class="content-heading">{{new.headline}}</h6>
                    <p>{{new.sub_headline}}</p>
                    <div class="secondary-div">
                        <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                        <div></div>
                        <span>{{new.category.all.0.get_category_display}}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <table>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Since</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.is_staff}}</td>
                <td>{{user.is_active}}</td>
                <td>{{user.date_joined}}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "CS50_News/sub_templates/_overlay.html" %}
    {% include "CS50_News/sub_templates/_footer.html" %}
    <script src="{% static 'CS50_News/admin.js' %}"></script>
{% endblock %}