{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Image Cropper</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
    />
    <link rel="stylesheet" href="{% static 'CS50_News/style.css' %}">
  </head>
  <body>
    <div class="custom-wrapper">
      <div class="custom-container">
        <div class="custom-image-container">
          <img class="img" id="custom-image" />
        </div>
        <div class="custom-preview-container">
          <img class="img" id="custom-preview-image" />
        </div>
      </div>
      <input type="file" id="custom-file" accept="image/*" />
      <label for="custom-file" class="label">Choose A Photo</label>
      <div class="custom-options custom-hide">
        <input
          type="number"
          id="custom-height-input"
          placeholder="Enter Height"
          max="780"
        />
        <input
          type="number"
          id="custom-width-input"
          placeholder="Enter Width"
          max="780"
        />
        <button class="custom-aspect-ratio-button button">16:9</button>
        <button class="custom-aspect-ratio-button button">4:3</button>
        <button class="custom-aspect-ratio-button button">1:1</button>
        <button class="custom-aspect-ratio-button button">2:3</button>
        <button class="custom-aspect-ratio-button button">Free</button>
      </div>
      <div class="custom-btns">
        <button id="custom-preview" class="custom-hide button">Preview</button>
        <a href="" id="custom-download" class="custom-hide">Download</a>
      </div>
    </div>
    <script src="{% static 'CS50_News/crop.js' %}"></script>
  </body>
</html>