{% load static %}
{% load change %}


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CKEditor 5 Sample</title>
		<link rel="stylesheet" href="{% static 'CS50_News/CkEditor.css' %}">
		<link rel="stylesheet" href="{% static 'CS50_News/create.css' %}">
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css" crossorigin>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'CS50_News/bundles/favicon_io/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'CS50_News/bundles/favicon_io/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'CS50_News/bundles/favicon_io/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'CS50_News/bundles/favicon_io/site.webmanifest' %}">
	</head>
	<body>
		<form enctype="multipart/form-data" method="post" action="" id="init-form">
			<div id="init-form-div">
				<div class="image-input">
					<div>
						<p class="fs-5 fw-bold">Article Image</p>
							<label for="img-input" id="label">
								{% if new %}
									<input type="file" accept="image/*" id="img-input" hidden name="blob" value="{{new.image.url}}">
									<img src="{{new.image.url}}" alt="" class="d-none" id="new-img-input">
								{% else %}
									<input type="file" accept="image/*" id="img-input" hidden name="blob">
								{% endif %}
								<p id="img-text">drag and drop an image or <a class="link">browse</a></p>
							</label>
						<p class="img-input-error error d-none">please provide an image for the Article</p>
					</div>
					<div>
						<label for="headline">headline</label>
						{% if new %}
							<input class="t-input" type="text" placeholder="Add a headline..." value="{{new.headline}}" id="headline" name="headline">
						{% else %}
							<input class="t-input" type="text" placeholder="Add a headline..." id="headline" name="headline">
						{% endif %}
						<p class="headline-error error d-none">please provide a headline for the article</p>
					</div>
				</div>
				<div id="text-inputs">
					<div>
						<label for="Sub_headline">Sub headline</label>
						{% if new %}
							<input class="t-input" type="text" value="{{new.sub_headline}}" placeholder="Add a Sub headline..." id="Sub_headline" name="sub_headline">
						{% else %}
							<input class="t-input" type="text" placeholder="Add a Sub headline..." id="Sub_headline" name="sub_headline">
						{% endif %}
						<p class="Sub_headline-error error d-none">please provide a sub headline for the article</p>
					</div>
					<div>
						<label>Chose a category for your article</label> <br>
						<div class="categories">
							{% for category in categories %}
								{% if category == new.get_category_display %}
									<input type="radio" id="{{category}}" value="{{category}}" name="category" class="btn-check" checked autocomplete="off">
								{% else %}
									<input type="radio" id="{{category}}" value="{{category}}" name="category" class="btn-check"  autocomplete="off">
								{% endif %}
								<label for="{{category}}" class="category-btn">{{category}}</label>
							{% endfor %}
						</div>
						<p class="category-error error d-none">Please chose a category</p>
					</div>
					<div>
					{% if new %}
						<select name="sub_category" id="sub_category" class="t-input form-select">
								<option disabled class="light" id="first">Sub Category</option>
					{% else %}
						<select name="sub_category" id="sub_category" class="t-input form-select" disabled>
							<option disabled selected class="light" id="first">Sub Category</option>
					{% endif %}
							{% for cat_name, cat_dics in subs.items %}
								{% for key, value in cat_dics.items %}
									{% if value == new.get_sub_category_display %}
										<option value="{{value}}" class="{{cat_name}} d-none" selected >{{value|change:"_ "}}</option>
									{% else %}
										<option value="{{value}}" class="{{cat_name}} d-none">{{value|change:"_ "}}</option>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</select>
						<p class="category-error error d-none">Please specify a sub category</p>
					</div>
					<div class="tags">
						<label for="tags-input">Add or change topics (up to 5) so readers know what your article is about</label>
						<ul class="chosed-tags">
							{% for tag in new.tags.names %}
								<li>
									<p>{{tag}}</p>
									<i class="fa-solid fa-x" data-tag={{tag}}></i>
								</li>
							{% endfor %}
							<input type="text" id="tags-input" placeholder="Add a topic.." list="subs">
							<datalist id="subs">
								
							</datalist>
						</ul>
						<ul class="suggestions list-group">
							{% for tag in suggestions %}
								<li class="list-group-item list-group-item-action d-none"><span>{{tag}}</span><span>{{tag.num_tags}}</span></li>
							{% endfor %}
						</ul>
						<p class="tags-input-error error d-none">you have to enter one tag at least.</p>
					</div>
				</div>
			</div>
			<button class="continue-btn" type="button">Continue</button>
        </form>
		<form class="main-container d-none" method="post" id="editor-form">
			<div class="top-btns">
				<button class="publish-btn">publish</button>
				<button class="icon-btn back-btn" type="button">
					<i class="fa-solid fa-arrow-right fa-xl"></i>
				</button>
			</div>
				
			<div class="editor-container editor-container_document-editor editor-container_include-word-count" id="editor-container">
				<div class="editor-container__menu-bar" id="editor-menu-bar"></div>
				<div class="editor-container__toolbar" id="editor-toolbar"></div>
				<div class="editor-container__editor-wrapper">
					<div class="editor-container__editor">
						<div id="editor">{% if new %} {{new.content}} {% endif %}</div>
					</div>
				</div>
				<div class="editor_container__word-count" id="editor-word-count"></div>
			</div>
		</form>
		<div class="overlay d-none">
			<div class="popup">
				<div class="img">
					<div>
						<img class="custom-img"/>
					</div>
				</div>
				<div class="btns">
					<button class="popup-btn crop-btn">Crop</button>
					<button class="popup-btn cancel-btn">Cancel</button>
				</div>
			</div>
		</div>
		<script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js" crossorigin></script>
		<script src="{% static 'CS50_News/CKEditor.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/a8cedb277e.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
	</body>
</html>
