{% extends "CS50_News/layout.html" %}
{% load change %}

{% block body %}
    <div id="main-container">
        <div class="carousel-div">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    {% for new in hero %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a class="link" href="{% url 'new' cat=new.category id=new.id %}">
                                <img src="{{new.image.url}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption">
                                    <h5>{{new.headline}}</h5>
                                    <p>{{new.sub_headline}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="side-div">
            {% for new in side %}
                <a class="side-new link" href="{% url 'new' cat=new.category id=new.id %}">
                    <div class="side-new-image-div">
                        <img src="{{new.image.url}}" alt="">
                    </div>
                    <div class="side-new-text">
                        <h6 class="main-text">{{new.headline}}</h6>
                        <div class="secondary-div side-secondary">
                            <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                            <div></div>
                            <span>{{new.get_sub_category_display|change:"_ "}}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="bold-seperator">
    </div>
    <h3 class="news-section-heading">News</h3>
    <div class="news-section">
        {% for new in news|slice:":7" %}
            <a class="new-container" href="{% url 'new' cat=new.get_category_display id=new.id %}">
                <div class="new-image">
                    <img src="{{new.image.url}}" alt="">
                </div>
                <div class="content">
                    <h6 class="content-heading">{{new.headline}}</h6>
                    <p>The Republican says his opponent was "lying" about once working at McDonald's, while she says he is "unstable".</p>
                    <div class="secondary-div">
                        <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                        <div></div>
                        <span>{{new.get_sub_category_display|change:"_ "}}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="light-seperator">
    </div>
    <h3 class="only-section-heading">Only from CS50 News</h3>
    <div class="only-section">
        {% for new in only %}
            <a class="tn link" href="{% url 'new' cat=new.category id=new.id %}">
                <div class="img">
                    <img src="{{new.image.url}}" alt="">
                </div>
                <div class="content">
                    <h6 class="content-heading">{{new.headline}}</h6>
                    <p>{{new.sub_headline}}</p>
                    <div class="secondary-div">
                        <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                        <div></div>
                        <span>{{new.get_sub_category_display|change:"_ "}}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="light-seperator">
    </div>
    <h3 class="trending-section-heading">Most read</h3>
    <div class="trending">
        {% for new in news|slice:":10" %}
            <div class="trend">
                <a class="link" href="{% url 'new' cat=new.category id=new.id %}">
                    <span>
                        {{forloop.counter}}
                    </span>
                    <h6>
                        {{new.headline}}
                    </h6>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="light-seperator"></div>
    
    <h3 class="stories-section-heading">MORE TOP STORIES</h3>
    <div class="stories-section">
        <div class="side column-section">
            {% for new in news|slice:":4" %}
                {% if forloop.first %}
                    <a class="main" href="{% url 'new' cat=new.category id=new.id %}">
                        <div class="img">
                            <img src="{{new.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{new.headline}}</h6>
                            <p>{{new.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.get_sub_category_display|change:"_ "}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'new' cat=new.category id=new.id %}" class="link column-side-new">
                        <div class="img">
                            <img src="{{new.image.url}}" alt="">
                        </div>
                        <div>
                            <h6>{{new.headline}}</h6>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.category.all.0.get_category_display}}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="middle">
            {% for new in news|slice:"4:7" %}
                {% if forloop.first %}
                    <a class="main" href="{% url 'new' cat=new.category id=new.id %}">
                        <div class="img">
                            <img src="{{new.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6>{{new.headline}}</h6>
                            <p>{{new.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.sub_category}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a class="link column-side-new" href="{% url 'new' cat=new.category id=new.id %}">
                        <div class="img">
                            <img src="{{new.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6>{{new.headline}}</h6>
                            <div class="side-secondary secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.get_sub_category_display|change:"_ "}}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="side column-section">
            {% for new in news|slice:"7:13" %}
                {% if forloop.first %}
                    <a class="main" href="{% url 'new' cat=new.category id=new.id %}">
                        <div class="img">
                            <img src="{{new.image.url}}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="content-heading">{{new.headline}}</h6>
                            <p>{{new.sub_headline}}</p>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.get_sub_category_display|change:"_ "}}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'new' cat=new.category id=new.id %}" class="link column-side-new">
                        <div>
                            <h6>{{new.headline}}</h6>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.get_sub_category_display|change:"_ "}}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="light-seperator"></div>

    <h3 class="Featured-section-heading">Featured Sections</h3>
    <div class="Featured">
        <div class="column-section science">
            <h4 class="Featured-sub_heading">Science</h4>
            <div class="main">
                <div class="img">
                    <img src="{{news.3.image}}" alt="">
                </div>
                <div class="content">
                    <h6 class="content-heading">{{news.3.headline}}</h6>
                    <p>{{news.4.sub_headline}}</p>
                    <div class="secondary-div">
                        <span>{{news.4.timestamp|timesince|timeformat|safe}}</span>
                        <div></div>
                        <span>{{news.3.category.all.0.get_category_display}}</span>
                    </div>
                </div>
            </div>
            {% for new in news %}
                <p>{{new.category}}</p>
                {% if new.get_category_display == 'News' %}
                    <a href="" class="link column-side-new">
                        <div>
                            <h6>{{new.headline}}</h6>
                            <div class="secondary-div">
                                <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                <div></div>
                                <span>{{new.category.all.0.get_category_display}}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            
            <a class="link column-side-new" href="">
                <div>
                    <h6>Astronomers’ discovery of distant Milky Way-like galaxy challenges our theories of how cosmos evolved</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a> 
        
            <a class="link column-side-new" href="">
                <div>
                    <h6>Wild dolphins off US Southeast coast found with microplastics in their breath, study says</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>
        
            <a class="link column-side-new" href="">
                <div>
                    <h6>Peer into the underwater volcanic caves where life thrives</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="column-section Travel">
            <h4 class="Featured-sub_heading">Travel</h4>
            <div class="main">
                <a class="link" href="">
                    <div class="img">
                        <img src="{{news.12.image}}" alt="">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">{{news.12.headline}}</h6>
                    </div>
                </a>
            </div>
            <a class="link column-side-new" href="">
                <div>
                    <h6>How the full English breakfast divides Britain</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>        
            <a class="link column-side-new" href="">
                <div>
                    <h6>Tired of California, he moved to Colombia: ‘I feel safer here’</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>        
            <a class="link column-side-new" href="">
                <div>
                    <h6>The magical landscape that hides a 'portal to Hell'</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>
            <a class="link column-side-new" href="">
                <div>
                    <h6>How ‘China’s Instagram’ is transforming the travel industry</h6>
                    <div class="secondary-div">
                        <span>3 days ago</span>
                        <div></div>
                        <span>{{news.3.sub_category}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="column-section style">
            <h4 class="Featured-sub_heading">Style</h4>
            <div class="main">
                <a class="link" href="">
                    <div class="img">
                        <img src="{{news.12.image}}" alt="">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">{{news.12.headline}}</h6>
                    </div>
                </a>
            </div>
            <div>
                <a class="link" href="">
                    <h6>How the full English breakfast divides Britain</h6>
                </a> 
            </div>       
            <div>
                <a class="link" href="">
                    <h6>Tired of California, he moved to Colombia: ‘I feel safer here’</h6>
                </a> 
            </div>       
            <div>
                <a class="link" href="">
                    <h6>The magical landscape that hides a 'portal to Hell'</h6>
                </a>
            </div>
            <div>
                <a class="link" href="">
                    <h6>How ‘China’s Instagram’ is transforming the travel industry</h6>
                </a>
            </div>
        </div>
        <div class="column-section Sport">
            <h4 class="Featured-sub_heading">Sport</h4>
            {% for new in featured %}
                {% for category in new.category.all %}
                    {% if category.category == "S" %} 
                        {% if forloop.parentloop.first %}
                            <a class="main" href="{% url 'new' cat=new.category id=new.id %}">
                                <div class="img">
                                    <img src="{{new.image.url}}" alt="">
                                </div>
                                <div class="content">
                                    <h6 class="content-heading">{{new.headline}}</h6>
                                    <p>{{new.sub_headline}}</p>
                                    <div class="secondary-div">
                                        <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                        <div></div>
                                        <span>{{category.get_category_display}}</span>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'new' cat=new.category id=new.id %}" class="link column-side-new">
                                <div>
                                    <h6>{{new.headline}}</h6>
                                    <div class="secondary-div">
                                        <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                                        <div></div>
                                        <span>{{category.get_category_display}}</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="column-section Travel">
            <h4 class="Featured-sub_heading">Travel</h4>
            <div class="main">
                <a class="link" href="">
                    <div class="img">
                        <img src="{{news.12.image}}" alt="">
                    </div>
                    <div class="content">
                        <h6 class="content-heading">{{news.12.headline}}</h6>
                    </div>
                </a>
            </div>
            <div>
                <a class="link" href="">
                    <h6>How the full English breakfast divides Britain</h6>
                </a> 
            </div>       
            <div>
                <a class="link" href="">
                    <h6>Tired of California, he moved to Colombia: ‘I feel safer here’</h6>
                </a> 
            </div>       
            <div>
                <a class="link" href="">
                    <h6>The magical landscape that hides a 'portal to Hell'</h6>
                </a>
            </div>
            <div>
                <a class="link" href="">
                    <h6>How ‘China’s Instagram’ is transforming the travel industry</h6>
                    
                </a>
            </div>
        </div>
    </div>
{% endblock %}