{% load static %}
{% load change %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    
    	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'CS50_News/bundles/favicon_io/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'CS50_News/bundles/favicon_io/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'CS50_News/bundles/favicon_io/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'CS50_News/bundles/favicon_io/site.webmanifest' %}">
		<script src="https://kit.fontawesome.com/a8cedb277e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'CS50_News/index.css' %}">
        <link rel="stylesheet" href="{% static 'CS50_News/staff.css' %}">
        <link rel="stylesheet" href="{% static 'CS50_News/style.css' %}">
</head>
<body>
    <div class="page page-num-2" id="placements-page">
        <form action="" method="post" id="distribution-form">
            <div class="distribution-form-submit-btn">
                <button class="btn btn-success">submit</button>
            </div>
            {% csrf_token %}
            {% include section.include %}
            {% if section.id %}
                <input type="hidden" name="method" value="put">
            {% endif %}
            <input type="hidden" name="position" id="position-input">
        </form>
    </div>
    
    <div class="news-search page d-none page-num-3" id="search-page">
        <div class="buttons">
            <button class="icon-btn back-btn" type="button">
                <i class="fa-solid fa-arrow-left fa-xl"></i>
            </button>
        </div>
        <div class="main-search-div">
            <div class="sub-main-search-div">
                <form action="" class="top-search-form">
                    <input autocomplete="off" type="text" class="top-search-input" name="q" value={{request.GET.q}}>
                    <button class="top-search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg> 
                    </button>
                    <input type="hidden" name="page" value="search-page">
                    <input type="hidden" name="p" value="1">
                </form>
            {% for new in news %}
                <a class="h-card" data-id="{{new.id}}" draggable="true">
                    <div class="h-card-main-image-div">
                        <div class="h-card-sub-image-div">
                            <img src="{{new.image.url}}" class="h-card-image" draggable="false">
                        </div>
                    </div>
                    <div class="h-card-content">
                        <h4 class="headline">{{new.headline}}</h4>
                        <div class="sub-headline-div">
                            <h6 class="sub-headline">{{new.sub_headline}}</h6>
                        </div>
                        <div class="x-secondary-div side-secondary">
                            <span>{{new.timestamp|timesince|timeformat|safe}}</span>
                            <div></div>
                            <span>{{new.get_sub_category_display|change:"_ "}}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
        <nav>
            <ul class="pagination">
                {% if news.has_previous %}
                    {% if input %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{input}}&p={{news.previous_page_number}}" aria-label="Previous">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{news.previous_page_number}}" aria-label="Previous">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
    
                {% for i in news.paginator.page_range %}
                    {% if input %}
                        {% if request.GET.p|add:"0" == i %}
                            <i class="page-item active" aria-current="page"><a class="page-link" href="?q={{input}}&p={{i}}">{{i}}</a></i>
                        {% else %}    
                            <i class="page-item"><a class="page-link" href="?q={{input}}&p={{i}}">{{i}}</a></i>
                        {% endif %}
                    {% else %}
                        {% if request.GET.p|add:"0" == i %}
                        <i class="page-item active" aria-current="page"><a class="page-link" href="?p={{i}}">{{i}}</a></i>
                        {% else %}    
                            <i class="page-item"><a class="page-link" href="?p={{i}}">{{i}}</a></i>
                        {% endif %}
                    {% endif %}
                {% endfor %}
    
                {% if news.has_next %}
                    {% if input %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{news.next_page_number}}" aria-label="Next">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{input}}&p={{news.next_page_number}}" aria-label="Next">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
	<script src="{% static 'CS50_News/placements.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
