{% extends "CS50_News/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'CS50_News/reset.css' %}">
{% endblock %}

{% block body %}
    <div class="main-container">
        <form id="reset-form">
            <input type="hidden" value="{{key}}" name="key">
            <p class="popup-brand">CS50 News</p>
            <div class="text-div">
                <p class="fs-4 fw-bold m-0 ">Password reset</p>
                <p>please enter the new password you would like to use</p>
                
            </div>
            <div class="input-div">
                <input type="password" name="reset-password" class="popup-input" autocomplete="off" placeholder="" id="reset-password">
                <label for="reset-password" class="popup-label">Password</label>
            </div>
            <p class="error-p d-none"></p>
            <div class="input-div">
                <input type="password" name="again" class="popup-input" autocomplete="off" placeholder="" id="again">
                <label for="again" class="popup-label">password(again)</label>
            </div>
            <p class="error-p d-none"></p>
            <div class="text-div">
                <p>the password must: </p>
                <ul>
                    <li>contain at least 8 characters</li>
                    <li>be secure and not common</li>
                    <li>not be entirely numeric</li>
                </ul>
            </div>
            <button type="button" class="reset-submit-btn">Reset</button>
        </form>
    </div>
    <script src="{% static 'CS50_News/reset.js' %}"></script>
{% endblock %}
