{% extends "CS50_News/layout.html" %}

{% block body %}
    <div class="main-search-div">
        <div class="sub-main-search-div">
        {% for new in news %}
            <a class="h-card">
                <div class="h-card-main-image-div">
                    <div class="h-card-sub-image-div">
                        <img src="{{new.image}}" class="h-card-image">
                    </div>
                </div>
                <div class="h-card-content">
                    <h4 class="headline">{{new.headline}}</h4>
                    <div class="sub-headline-div">
                        <h6 class="sub-headline">{{new.sub_headline}}</h6>
                    </div>
                    <div class="secondaryText-div">
                        <p class="timestampDiv secondaryText">{{new.timestamp}}</p>
                        <p class="categoryDiv secondaryText">{{new.category}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    <nav>
        <ul class="pagination">
            {% if news.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?q={{input}}&p={{news.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in news.paginator.page_range %}
                <i class="page-item"><a class="page-link" href="?q={{input}}&p={{i}}">{{i}}</a></i>
            {% endfor %}

            {% if news.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?q={{input}}&p={{news.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}