footer {
    display: grid;
    grid-template-columns: 6fr 2fr;
    column-gap: 5%;
    margin: 1rem 3rem;
    padding: 1rem 0;
    border-top: 1px solid  hsl(0, 0%, 69%);
}
.footer-column-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.footer-column {
    display: flex;
    flex-direction: column;

    .main-link {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        cursor: pointer;
        margin-bottom: .75rem;
    }
    li {
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: transparent;    
        }
    }
}

.footer-link {
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 35%);
    width: fit-content;

    &:hover {
        text-decoration: underline;
        color: black;
    }
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.media {


    .follow {
        text-align: center;
        font-weight: 600;
    }
    .icons {
        display: flex;
        gap: 1.5rem;
        text-align: center;
        justify-content: center;

        .fa-facebook {
            color: blue;
        }
        .fa-youtube {
            color: red;
        }
        .fa-x-twitter {
            color: black;
        }
        .fa-telegram {
            color: hsl(200, 74%, 51%);
        }
    }
}

.logo {
    margin-top: 1.5rem;
}

.footer-brand {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
}

.Rights {
    text-align: center;
    margin-top: -1rem;
}

@media screen and (max-width: 992px) {
    footer {
        margin: 1rem 1.5rem;
    }
    .footer-column-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr;
        margin: 1rem;
    }
}

@media screen and (max-width: 480px) {
    footer {
        grid-template-rows: 1fr 1fr;
    }
    .footer-column-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }
    .footer-column {
        text-align: center;

        a {
            width: 100%;
            text-align: center;
        }
    }
    .last {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .icons {
        flex-wrap: wrap;
    }
}