.link {
  color: black;
  text-decoration: none;
}

#main-container {
  display: grid;
  grid-template-columns: 66.6666666667% 1fr;
}

.content {
  margin: 1rem 0;
}

.side-div {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  margin-left: 1rem;
}
.side-div .side-new {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5rem;
  cursor: pointer;
  cursor: pointer;
}
.side-div .side-new:hover img {
  opacity: 0.8;
}
.side-div .side-new:hover h6 {
  text-decoration: underline;
}
.side-div .side-new .side-new-text {
  position: relative;
}
.side-div .side-new .side-new-text .main-text {
  font-weight: 600;
}
.side-div .side-new .side-new-image-div {
  position: relative;
  float: left;
  background-color: white;
  flex-basis: 25%;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}
.side-div .side-new .side-new-image-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-secondary {
  position: absolute;
  bottom: 0;
  left: 0;
}

.secondary-div {
  display: flex;
  gap: 4px;
  align-items: center;
  color: hsl(210, 2%, 34%);
  font-size: 10px;
  font-weight: 300;
  white-space: nowrap;
}
.secondary-div div {
  background-color: hsl(210, 2%, 34%);
  height: 1rem;
  width: 1px;
  margin: auto 2px;
}

.section-seperator {
  margin: 1rem 0;
  height: 3px;
  background-color: black;
}

.news-section-heading {
  margin: 1rem 0;
  display: flex;
}
.news-section-heading::before {
  content: "";
  margin-right: 0.5rem;
  width: 4px;
  background-color: red;
}

.stories-section-heading {
  margin: 1rem 0;
  display: flex;
}
.stories-section-heading::before {
  content: "";
  margin-right: 0.5rem;
  width: 4px;
  background-color: black;
}

.content-heading {
  font-weight: 600;
  letter-spacing: -0.36px;
  line-height: 1.5;
  margin: 0;
}

.news-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 3rem;
}
.news-section .new-container {
  cursor: pointer;
}
.news-section .new-container:hover img {
  opacity: 0.8;
}
.news-section .new-container:hover h6 {
  text-decoration: underline;
}
.news-section .new-container .new-image {
  background-color: white;
  width: 100%;
}
.news-section .new-container .new-image img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-section .new-container .content {
  position: relative;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(210, 9%, 91%);
}
.news-section .new-container .content p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.light-seperator {
  margin: 1rem 0;
  height: 1px;
  width: 100%;
  background-color: hsl(210, 2%, 34%);
}

.bold-seperator {
  margin: 1rem 0;
  height: 2px;
  width: 100%;
  background-color: hsl(210, 2%, 34%);
}

.only-section-heading {
  margin: 1rem 0;
  display: flex;
}
.only-section-heading::before {
  content: "";
  margin-right: 0.5rem;
  width: 4px;
  background-color: #fc0;
}

.only-section {
  display: flex;
  gap: 1rem;
}
.only-section .tn {
  flex-basis: 50%;
  cursor: pointer;
}
.only-section .tn:hover img {
  opacity: 0.8;
}
.only-section .tn:hover h6 {
  text-decoration: underline;
}
.only-section .tn .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-section-heading {
  margin: 1rem 0;
  display: flex;
}
.trending-section-heading::before {
  content: "";
  margin-right: 0.5rem;
  width: 4px;
  background-color: hsl(204, 86%, 57%);
}

.trending {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.trending .trend {
  cursor: pointer;
}
.trending .trend:hover img {
  opacity: 0.8;
}
.trending .trend:hover h6 {
  text-decoration: underline;
}
.trending .trend a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.trending .trend span {
  font-size: 2.5rem;
  color: hsl(210, 2%, 34%);
}

.Featured-section-heading {
  font-size: 2rem;
  font-weight: 600;
}

.Featured-sub_heading {
  margin: 1rem 0;
  display: flex;
}
.Featured-sub_heading::before {
  content: "";
  margin-right: 0.5rem;
  width: 4px;
  background-color: black;
}

.Featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.column-section .main {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(210, 9%, 91%);
  cursor: pointer;
}
.column-section .main:hover img {
  opacity: 0.8;
}
.column-section .main:hover h6 {
  text-decoration: underline;
}
.column-section .main .img {
  width: 100%;
}
.column-section .main .img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-section .main h6 {
  font-size: 1.25rem;
}
.column-section .main p {
  font-size: 0.9rem;
}
.column-section .column-side-new:last-child {
  border-bottom: none;
}

.stories-section {
  display: flex;
  justify-content: space-between;
}
.stories-section .middle {
  width: calc(50% - 16px);
}
.stories-section .middle .main {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(210, 9%, 91%);
  cursor: pointer;
}
.stories-section .middle .main:hover img {
  opacity: 0.8;
}
.stories-section .middle .main:hover h6 {
  text-decoration: underline;
}
.stories-section .middle .main .img {
  width: 100%;
}
.stories-section .middle .main .img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories-section .middle .main h6 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.stories-section .middle .column-side-new .img {
  flex: none;
  width: 25%;
}
.stories-section .side {
  width: calc(25% - 16px);
}
.stories-section .column-side-new:last-child {
  border: none;
}

.column-side-new {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(210, 9%, 91%);
  cursor: pointer;
}
.column-side-new:hover img {
  opacity: 0.8;
}
.column-side-new:hover h6 {
  text-decoration: underline;
}
.column-side-new .img {
  flex-basis: 40%;
}
.column-side-new .img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-side-new .content {
  position: relative;
}

.carousel:hover h5 {
  text-decoration: underline;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}/*# sourceMappingURL=index.css.map */