$opacity: 0.8;
$secondary: hsl(210, 2%, 34%);


@mixin new-hover {
    cursor: pointer;
    &:hover {
        img {
            opacity: $opacity;
        }
        h6 {
            text-decoration: underline;
        }
    }
}

@mixin section-heading($color) {
    margin: 1rem 0;
    display: flex;

    &::before {
        content: '';
        margin-right: .5rem;
        width: 4px;
        background-color: $color;
    }
}

@mixin seperator($bold) {
    margin: 1rem 0;
    height: $bold;
    width: 100%;
    background-color: $secondary;
}

@mixin border {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid hsl(210, 9%, 91%);
}

.link {
    color: black;
    text-decoration: none;
}

#main-container {
    display: grid;
    grid-template-columns: calc(2 * (100% / 3)) 1fr;
}

.content {
    margin: 1rem 0;
}
    
.side-div {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
    margin-left: 1rem;

    .side-new {
        display: flex;
        height: 100%;
        width: 100%;
        padding-bottom: .5rem;
        cursor: pointer;
        @include new-hover;

        .side-new-text {
            position: relative;

            .main-text {
                font-weight: 600;
                
            }
        }

        .side-new-image-div {
            position: relative;
            float: left;
            background-color: white;
            flex-basis: 25%;
            aspect-ratio: 1/1;
            margin-right: 1rem;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }       
    }
}

.side-secondary {
    position: absolute;
    bottom: 0;
    left: 0;
}

.secondary-div {
    display: flex;
    gap: 4px;
    align-items: center;
    color: $secondary;
    font-size: 10px;
    font-weight: 300;
    white-space: nowrap;

    div {
        background-color: $secondary;
        height: 1rem;
        width: 1px;
        margin: auto 2px;
    }
}

.section-seperator {
    margin: 1rem 0;
    height: 3px;
    background-color: black;
}

.news-section-heading {
    @include section-heading(red)
}

.stories-section-heading {
    @include section-heading(black);
}

.content-heading {
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 1.5; 
    margin: 0;
 }

.news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 3rem;

    .new-container {
        @include new-hover;

        .new-image {
            background-color: white;
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }
        }
        .content {
            position: relative;
            display: grid;
            gap: .5rem;
            @include border;
            
            p {
                margin: 0;
                font-size: .9rem;
                line-height: 1.25rem;
            }
        }
        
    }
}




.light-seperator {
    @include seperator(1px)
}

.bold-seperator {
    @include seperator(2px)
}

.only-section-heading {
    @include section-heading(#fc0)
}

.only-section {
    display: flex;
    gap: 1rem;

    .tn {
        flex-basis: 50%;
        @include new-hover;

        .img {
            
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.trending-section-heading {
    @include section-heading(hsl(204, 86%, 57%));
}

.trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .75rem;

    .trend {
        @include new-hover;

        a {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        span {
            font-size: 2.5rem;
            color: $secondary;
        }
    }
}

.Featured-section-heading {
    font-size: 2rem;
    font-weight: 600;
}

.Featured-sub_heading {
    @include section-heading(black)
}

.Featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.column-section {
     
    .main {
        @include border;
        @include new-hover;

        .img {
            width: 100%;
            img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }
        }
        h6 {
            font-size: 1.25rem;
        }
        p {
            font-size: .9rem;
        }
    }
    .column-side-new:last-child {
        border-bottom: none;
    }
}

.stories-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .middle {
        width: calc(50% - ((24px* 2) / 3));
        

        .main {
            .img {
                width: 100%;

                img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }
            }
            h6 {
                margin: 1rem 0;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
    .column-side-new {
        .img {
            flex: none;
            width: 125px;
            aspect-ratio: 16 / 9;
        }
    }
    .side {
        width: calc(25% - ((24px * 2) / 3));
    }
    .column-side-new:last-child {
        border: none;
    }
}

.column-side-new {
    width: 100%;
    display: flex;
    gap: .5rem;
    @include border;
    @include new-hover;

    .img {
        flex-basis: 40%;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }
    }
    .content {
        position: relative;
    }
}

.carousel:hover {
    h5 {
        text-decoration: underline;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .news-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 992px) {
    #main-container {
        grid-template-columns: 1fr;
    }
    .carousel-div {
        margin-bottom: 1rem;
    }
    .side-div {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .stories-section {
        .middle {
            width: 100%;
        }
        .side {
            width: 100%;
        }
    }
    .Featured {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .news-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .trending {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 570px) {
    .side-div {
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .only-section {
        flex-direction: column;
    }
    .Featured {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .news-section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

@media screen and (max-width: 300px) {

}