$secondary: hsl(210, 2%, 34%);

:root {
    --page-background: #fff;
    --page-text: #121212;
    --page-secondary: #b6b6b6;
}

.dark-mode {
    --page-background: #272727;
    --page-text: #dee2e6;
    --page-secondary: #414141;
}

@mixin new-hover {
    cursor: pointer;
    &:hover {
        img {
            opacity: .8;
        }
        h6 {
            text-decoration: underline;
        }
    }
}
@mixin border {
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
} 

.heading {
    margin: 1.5rem auto;
    width: 728px;
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: inherit;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .time {
        font-size: .75rem;
        color: $secondary;    
    }
    .min-info {
        display: flex;
        justify-content: space-between;

        .auther {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;
        }
        .buttons {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 1rem;
            color: inherit;

            a {
                user-select: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.main-img {
    margin: 1rem auto;
    width: 932px;
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
        padding-bottom: 1rem;
    }
    .border {
        background-color: var(--page-secondary);
        height: 2px;
        width: 728px;
        margin: 0 auto;
    }
}

.new-content {
    margin: 1rem auto;
    width: 728px;
    p {
        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: -.36px;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -.36px;
        margin: 1rem 0;
    }
    
    img {
        width: 100%;
        margin: 2rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--page-secondary);
    }
    a {
        border: none;
        font-weight: 500;
        font-size: .85rem;
        letter-spacing: 0px;
        padding: .6rem .7rem;
        background-color: var(--bg-hover);
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
            background-color: var(--page-text);
            color: var(--page-background);
        }
    }
}

.border {
    background-color: var(--page-text);
    height: 3px;
}

h5 {
    margin-top: .5rem;
    margin-bottom: 1rem; 
    font-weight: 500;
}

aside {
    margin: 2rem .5rem 4rem .5rem;

    
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        h6 {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
}

.new-page-link {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
    @include new-hover;
}

.small-font {
    font-size: .75rem;
    color: $secondary;
}

.more {

    .new-container {
        margin: 0 4rem;

        .horizontal-new {
            display: flex;
            min-height: 190px;
            text-decoration: none;
            color: inherit;

            @include new-hover;

            .timestamp {
                flex-basis: 90px;
            }
            span {
                display: flex;
                align-items: start;
            }
            .img-content {
                flex: 1;
                @include border;
            }
            .content {
                position: relative;
                height: 100%;

                h6 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: .75rem;
                }
                .sub {
                    font-size: .9rem;
                }
                .small-font {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 0;
                }
            }
            .img {
                margin-left: 1rem;
                margin-bottom: 1rem;
                width: 300px;
                float: right;

                img {
                    width: 100%;

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

}
  
@media screen and (max-width: 992px) {
    .main-img {
        width: 100%;
    }
    .new-content {
        margin: 1rem 2rem;
        width: auto;
    }
    .heading {
        margin: 1rem;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    aside {
        margin: 1rem .5rem;
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: .5rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .heading {
        margin: 1rem .5rem;
        h1 {
            font-size: 1.75rem;
        }
        .buttons {
            flex-direction: column;
            gap: .5rem;
        }
    }
    
}

@media screen and (max-width: 300px) {

}
