$secondary: hsl(210, 2%, 34%);

@mixin new-hover {
    cursor: pointer;
    &:hover {
        img {
            opacity: .8;
        }
        h6 {
            text-decoration: underline;
        }
    }
}
@mixin border {
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.heading {
    margin: 1.5rem auto;
    width: 728px;
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: inherit;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .time {
        font-size: .75rem;
        color: $secondary;    
    }
    .auther {
        font-size: 1.25rem;
        font-weight: 600;
    }
}

.main-img {
    margin: 0 auto;
    width: 932px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.new-content {
    margin: 1rem auto;
    width: 728px;
    p {
        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: -.36px;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -.36px;
        margin: 1rem 0;
    }
    
    img {
        width: 100%;
    }
    a {
        border: none;
        font-weight: 500;
        font-size: .85rem;
        letter-spacing: 0px;
        padding: .6rem .7rem;
        background-color: rgb(240, 240, 240);
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 1rem;

        &:hover {
            background-color: $secondary;
            color: white;;
        }
        &:focus {
            background-color: black;
            color: white;
        }
    }
}

.border {
    background-color: black;
    height: 3px;
}

h5 {
    margin-top: .5rem;
    margin-bottom: 1rem; 
    font-weight: 500;
}

aside {
    margin: 2rem .5rem 4rem .5rem;

    
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        h6 {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
}

.link {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
    @include new-hover;
}

.small-font {
    font-size: .75rem;
    color: $secondary;
}

.more {


    .new-container {
        margin: 0 4rem;

        .horizontal-new {
            display: flex;
            min-height: 190px;
            text-decoration: none;
            color: inherit;

            @include new-hover;

            .timestamp {
                flex-basis: 90px;
            }
            span {
                display: flex;
                align-items: start;
            }
            .img-content {
                flex: 1;
                @include border;
            }
            .content {
                position: relative;
                height: 100%;

                h6 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: .75rem;
                }
                .sub {
                    font-size: .9rem;
                }
                .small-font {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 0;
                }
            }
            .img {
                margin-left: 1rem;
                margin-bottom: 1rem;
                width: 300px;
                float: right;

                img {
                    width: 100%;

                }
            }
        }
    }
}

.secondary-div {
    display: flex;
    gap: 4px;
    align-items: center;
    color: $secondary;
    font-size: 12px;
    font-weight: 300;
    div {
        background-color: $secondary;
        height: 1rem;
        width: 1px;
        margin: auto 2px;
    }
}

@media screen and (max-width: 1024px) {

}
  
@media screen and (max-width: 992px) {
    .main-img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    aside {
        .content {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 0;
        }
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 300px) {

}
