:root {
  --page-background: #fff;
  --page-text: #121212;
  --page-secondary: #b6b6b6;
}

.dark-mode {
  --page-background: #272727;
  --page-text: #dee2e6;
  --page-secondary: #414141;
}

.heading {
  margin: 1.5rem auto;
  width: 728px;
}
.heading h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: inherit;
}
.heading p {
  font-family: Arial, Helvetica, sans-serif;
}
.heading .time {
  font-size: 0.75rem;
  color: hsl(210, 2%, 34%);
}
.heading .min-info {
  display: flex;
  justify-content: space-between;
}
.heading .min-info .auther {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
.heading .min-info .buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1rem;
  color: inherit;
}
.heading .min-info .buttons a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.heading .min-info .buttons a:hover {
  text-decoration: underline;
}

.main-img {
  margin: 0 auto;
  width: 932px;
}
.main-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-content {
  margin: 1rem auto;
  width: 728px;
}
.new-content p {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.36px;
}
.new-content h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.36px;
  margin: 1rem 0;
}
.new-content img {
  width: 100%;
}
.new-content a {
  border: none;
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0px;
  padding: 0.6rem 0.7rem;
  background-color: var(--page-secondary);
  font-family: Arial, Helvetica, sans-serif;
}
.new-content a:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

.border {
  background-color: var(--page-text);
  height: 3px;
}

h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

aside {
  margin: 2rem 0.5rem 4rem 0.5rem;
}
aside .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
aside .content h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

.new-page-link {
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
  cursor: pointer;
}
.new-page-link:hover img {
  opacity: 0.8;
}
.new-page-link:hover h6 {
  text-decoration: underline;
}

.small-font {
  font-size: 0.75rem;
  color: hsl(210, 2%, 34%);
}

.more .new-container {
  margin: 0 4rem;
}
.more .new-container .horizontal-new {
  display: flex;
  min-height: 190px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.more .new-container .horizontal-new:hover img {
  opacity: 0.8;
}
.more .new-container .horizontal-new:hover h6 {
  text-decoration: underline;
}
.more .new-container .horizontal-new .timestamp {
  flex-basis: 90px;
}
.more .new-container .horizontal-new span {
  display: flex;
  align-items: start;
}
.more .new-container .horizontal-new .img-content {
  flex: 1;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.more .new-container .horizontal-new .content {
  position: relative;
  height: 100%;
}
.more .new-container .horizontal-new .content h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.more .new-container .horizontal-new .content .sub {
  font-size: 0.9rem;
}
.more .new-container .horizontal-new .content .small-font {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
.more .new-container .horizontal-new .img {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  float: right;
}
.more .new-container .horizontal-new .img img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .main-img {
    width: 100%;
  }
  .new-content {
    margin: 1rem 2rem;
    width: auto;
  }
  .heading {
    margin: 1rem;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  aside .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }
}
@media screen and (max-width: 480px) {
  .heading {
    margin: 1rem 0.5rem;
  }
  .heading h1 {
    font-size: 1.75rem;
  }
  .heading .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
}/*# sourceMappingURL=new.css.map */