:root {
    --page-background: #fff;
    --elements-background:#fff;
    --pg-border: #e5e5e5;
    --page-text: #121212;
    --page-secondary: #505050;
    --icon-color: #000;
    --bg-hover: #f4f4f4;
    --opacity: 0.8;
}

.dark-mode {
    --page-background: #272727;
    --elements-background:#424242;
    --pg-border: hsla(0, 0%, 100%, 0.1);
    --page-text: #dee2e6;
    --page-secondary: #aeb0b5;
    --icon-color: #727272;
    --bg-hover: #393939;
    --opacity: 0.5;
}

#admin-container {
    display: grid;
    grid-template-columns: 1.40fr .60fr;
    gap: 1rem;
    margin: 1rem;
}

.news-container {
    grid-column: 1 / 3;
    margin-left: 1rem;

    #scroll-heading {
        display: flex;
        justify-content: end;
    }
    .news-scroll-div {
        overflow-x: scroll;
        display: grid;
        grid-auto-columns: calc(25% - 1rem);
        gap: 1rem;
        grid-auto-flow: column;
        user-select: none;
        & > a {
            img {
                width: 100% !important;
            }
        }
    }
}

#management-popup-form {
    .cancel-btn {
        border: 3px solid black;
    }
}

#user-control {
    #user-search {
        display: flex;
        justify-content: end;
        margin-bottom: .25rem;
    }
    .dropdown-item {
        cursor: pointer;
    }
    
    #select-div {
        display: flex;
        margin-bottom: .75rem;
        gap: .5rem;
        #action-select {
            width: 40%;
        }
        #go-btn {
            width: 37px;
            aspect-ratio: 1 / 1;
            background-color: transparent; 
            border-radius: 5px;
            border: 1px solid var(--bg-hover);
            &:hover {
                background-color: var(--page-text);
                color: var(--page-background);
            }
        }
    }
}

.create {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 2px solid var(--bg-hover);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    font-size: 3rem;
    color: var(--bg-hover);
    cursor: pointer;

    &:hover {
        border-color: var(--page-secondary);
        color: var(--page-secondary);
    }
}

.created {
    width: 100%;
    cursor: pointer;

    &:hover {
        img {
            opacity: var(--opacity);
        }
        h6 {
            text-decoration: underline;
        }
    }
    .img {
        width: 100%;
        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
    .content {
        margin: 1rem 0;
        
        h6 {
            height: 48px;
            font-size: 1rem;
            @supports (-webkit-line-clamp: 2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        p {
            height: 54px;
            font-size: .75rem;
            @supports (-webkit-line-clamp: 3) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.buttons {
    gap: 1rem;
    justify-content: left;
    margin: 1rem;
}

#user-control {
    & > div {
        display: flex;
        justify-content: space-between;
        height: 35px;
        #select-div {
            #action-select{
                height: 100%;
            }
            #go-btn {
                height: 100%;
                aspect-ratio: 1 / 1;
                border: 1px solid var(--page-text);
                background-color: transparent;
                &:hover {
                    background-color: var(--page-text);
                    color: var(--page-background);
                }
            }
        }
        .t-input {
            padding: 1rem;
            height: 100%;
            width: 35%;
            border: 1px solid var(--page-secondary);
            font-size: 1rem;
            font-weight: 500;
            border-radius: 5px;
            &::placeholder {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

table {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    td {
        vertical-align: middle;
        h6 {
            margin: 0;
            line-height: 12px;
        }
        small {
            color: var(--page-secondary);
            font-size: .7em;
            margin: 0;
        }
        p {
            margin: auto;
        }        
        i {
            cursor: pointer;
            align-items: center;
        }
    }
    .sub-dropdown {
        list-style: none;
    }
}

#distribution-container {
    border: 2px solid var(--bg-hover);
    border-radius: 15px;
    transition: .2s ease-in-out;
    #distribution-wrapper {
        width: 100%;
        
        #title {
            transition: .2s ease-in-out;
            background-color: var(--bg-hover);
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: center;
            h6 {
                font-size: 1.5rem;
                font-weight: 600;
                margin: .5rem 0;
            }
        }
        #distribution-body {

            section {
                font-size: 10px;
                .article:hover {
                    h6 {
                        text-decoration: none;
                    }
                    img {
                        opacity: 1;
                    }
                }
                .secondary-div {
                    gap: 0px;
                    div {
                        height: .75rem;
                    }
                }
            }
        }
    }
    &:hover {
        border-color: var(--pg-border);
        #distribution-wrapper #title {
            background-color: var(--pg-border);
        }
    }
}

#pages-body {
    overflow-x: hidden;
}

#main-page {
    .page-layout {
        .create-btn {
            width: calc(100% - 2rem);
            margin: 0 1rem;
            height: 3rem;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: var(--bg-hover); 
            }
        }
        .create {
            width: calc(100% - 2rem);
            margin: 0 1rem;
            aspect-ratio: 8 / 1;
            user-select: none;
        }
        .last-create {
            aspect-ratio: 16 / 9;
            margin-bottom: 1rem;
        }
        .buttons {
            display: flex;
            a, button {
                background: none;
                border: 3px solid var(--page-text);
                grid-template-columns: auto 1fr;
                align-items: center;
                justify-items: left;
                display: grid;
                padding: 12px 13px;
                gap: .5rem;
                width: 100px;

                &:hover {
                    background-color: var(--page-text);
                    color: var(--elements-background);
                }
            }
        }
    }
    .article {
        cursor: default;
        &:hover {
            img {
                opacity: 1;
            }
            h6 {
                text-decoration: none;
            }
        }
    }
}


#edit-page > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-sizing: border-box;
    font-size: .75rem;
        .section-container {
            position: relative;
            .select-btn {
                position: absolute;
                left: 12px;
                bottom: 12px;
                display: none;
                a {
                    background-color: var(--elements-background);
                    color: var(--page-text);
                    width: 70px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid var(--page-secondary);
                    transition: .3s ease-in-out;
                    padding: .5rem 1rem;
                    &:hover {
                        background-color: var(--page-text);
                        color: var(--elements-background);
                    }
                }
            }
            &:hover {
                .select-btn {
                    display: block;
                }
            }
            #carousel-section-design {
            position: relative;
            grid-template-columns: 1fr;
            .side-div .side-new .side-new-image-div  {
                flex-basis: 35%;
            }
            .buttons {
                position: absolute;
                left: 24px;
                bottom: 24px;
            }
        }
        .carousel-div {
            margin-bottom: 1rem;
        }
        .side-div {
            margin: 0;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        #scroll-section {
            overflow: hidden;
        }
    }
}

#placements-page {
    & > div {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
    .news-search {
        border-right: 1px solid var(--page-secondary);
    }
    #distribution-form {
        .distribution-form-submit-btn {
            display: flex;
            justify-content: end;
            margin: 1rem;
        }
    }
}

.icon-btn {
    width: 2.4rem;
    height: 2.4rem;
    background: none;
    border: none;
    border-radius: 1.2rem;
    color: var(--page-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    background-color: rgb(244, 244, 244);
}

.t-input {
    width: 50%;
    height: 27px;
    padding: 1.5rem 24px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin-bottom: .5rem;

    &::placeholder {
        font-size: 1.5rem;
    }

    &:focus-visible {
        outline: none;
    }
}

#scroll-section-design {
    overflow-x: hidden;
}

.carousel-item {
    img {
        aspect-ratio: 16 / 9;
    }
}

@media screen and (max-width: 1024px) {
    #edit-page > div:last-child {
        grid-template-columns: 1fr;
    }
    #admin-container {
        grid-template-columns: 1.45fr .55fr;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    #user-control {
        grid-column: 1 / 3;
    }
    #distribution-container {
        grid-column: 1 / 3;
    }
    .news-container {
        .news-scroll-div {
            grid-auto-columns: calc(50% - 1rem);
        }
    }
    #admin-container {
        margin: .5rem;
    }
    #user-control #user-search {
        margin-bottom: .75rem;
    }
}

@media screen and (max-width: 570px) {
    .date-table {
        display: none;
    }
    #user-control #select-div #action-select {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .news-container {
        .news-scroll-div {
            grid-auto-columns: calc(100% - 1rem);
        }
    }
}

@media screen and (max-width: 300px) {

}