:root {
  --page-background: #fff;
  --elements-background:#fff;
  --pg-border: #e5e5e5;
  --page-text: #121212;
  --page-secondary: #505050;
  --icon-color: #000;
  --bg-hover: #f4f4f4;
  --opacity: 0.8;
}

.dark-mode {
  --page-background: #272727;
  --elements-background:#424242;
  --pg-border: hsla(0, 0%, 100%, 0.1);
  --page-text: #dee2e6;
  --page-secondary: #aeb0b5;
  --icon-color: #727272;
  --bg-hover: #393939;
  --opacity: 0.5;
}

#admin-container {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 1rem;
  margin: 1rem;
}

.news-container {
  grid-column: 1/3;
  margin-left: 1rem;
}
.news-container #scroll-heading {
  display: flex;
  justify-content: end;
}
.news-container .news-scroll-div {
  overflow-x: scroll;
  display: grid;
  grid-auto-columns: calc(25% - 1rem);
  gap: 1rem;
  grid-auto-flow: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.news-container .news-scroll-div > a img {
  width: 100% !important;
}

#management-popup-form .cancel-btn {
  border: 3px solid black;
}

#user-control #user-search {
  display: flex;
  justify-content: end;
  margin-bottom: 0.25rem;
}
#user-control .dropdown-item {
  cursor: pointer;
}
#user-control #select-div {
  display: flex;
  margin-bottom: 0.75rem;
  gap: 0.5rem;
}
#user-control #select-div #action-select {
  width: 40%;
}
#user-control #select-div #go-btn {
  width: 37px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--bg-hover);
}
#user-control #select-div #go-btn:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

.create {
  width: 100%;
  aspect-ratio: 16/9;
  border: 2px solid var(--bg-hover);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  font-size: 3rem;
  color: var(--bg-hover);
  cursor: pointer;
}
.create:hover {
  border-color: var(--page-secondary);
  color: var(--page-secondary);
}

.created {
  width: 100%;
  cursor: pointer;
}
.created:hover img {
  opacity: var(--opacity);
}
.created:hover h6 {
  text-decoration: underline;
}
.created .img {
  width: 100%;
}
.created .img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.created .content {
  margin: 1rem 0;
}
.created .content h6 {
  height: 48px;
  font-size: 1rem;
}
@supports (-webkit-line-clamp: 2) {
  .created .content h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.created .content p {
  height: 54px;
  font-size: 0.75rem;
}
@supports (-webkit-line-clamp: 3) {
  .created .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.categories-list {
  max-height: 250px;
  overflow-y: scroll;
}

.buttons {
  gap: 1rem;
  justify-content: left;
  margin: 1rem;
}

#user-control > div {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
#user-control > div #select-div #action-select {
  height: 100%;
}
#user-control > div #select-div #go-btn {
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--page-text);
  background-color: transparent;
}
#user-control > div #select-div #go-btn:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}
#user-control > div .t-input {
  padding: 1rem;
  height: 100%;
  width: 35%;
  border: 1px solid var(--page-secondary);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}
#user-control > div .t-input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 500;
}
#user-control > div .t-input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

table {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
table td {
  vertical-align: middle;
}
table td h6 {
  margin: 0;
  line-height: 12px;
}
table td small {
  color: var(--page-secondary);
  font-size: 0.7em;
  margin: 0;
}
table td p {
  margin: auto;
}
table td i {
  cursor: pointer;
  align-items: center;
}
table .sub-dropdown {
  list-style: none;
}

#distribution-container {
  border: 2px solid var(--bg-hover);
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
#distribution-container #distribution-wrapper {
  width: 100%;
}
#distribution-container #distribution-wrapper #title {
  transition: 0.2s ease-in-out;
  background-color: var(--bg-hover);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
}
#distribution-container #distribution-wrapper #title h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
#distribution-container #distribution-wrapper #distribution-body section {
  font-size: 10px;
}
#distribution-container #distribution-wrapper #distribution-body section .article:hover h6 {
  text-decoration: none;
}
#distribution-container #distribution-wrapper #distribution-body section .article:hover img {
  opacity: 1;
}
#distribution-container #distribution-wrapper #distribution-body section .secondary-div {
  gap: 0px;
}
#distribution-container #distribution-wrapper #distribution-body section .secondary-div div {
  height: 0.75rem;
}
#distribution-container:hover {
  border-color: var(--pg-border);
}
#distribution-container:hover #distribution-wrapper #title {
  background-color: var(--pg-border);
}

#pages-body {
  overflow-x: hidden;
}

#main-page .page-layout .create-btn {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  height: 3rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-page .page-layout .create-btn:hover {
  background-color: var(--bg-hover);
}
#main-page .page-layout .create {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  aspect-ratio: 8/1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main-page .page-layout .last-create {
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
}
#main-page .page-layout .buttons {
  display: flex;
}
#main-page .page-layout .buttons a, #main-page .page-layout .buttons button {
  background: none;
  border: 3px solid var(--page-text);
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: left;
  display: grid;
  padding: 12px 13px;
  gap: 0.5rem;
  width: 100px;
}
#main-page .page-layout .buttons a:hover, #main-page .page-layout .buttons button:hover {
  background-color: var(--page-text);
  color: var(--elements-background);
}
#main-page .article {
  cursor: default;
}
#main-page .article:hover img {
  opacity: 1;
}
#main-page .article:hover h6 {
  text-decoration: none;
}

#edit-page > div:last-child {
  -moz-columns: 450px;
       columns: 450px;
  box-sizing: border-box;
  font-size: 0.75rem;
}
#edit-page > div:last-child .section-container {
  position: relative;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  border: 1px solid var(--page-secondary);
  margin: 0.75rem 0;
  padding: 0.25rem 0;
}
#edit-page > div:last-child .section-container:hover {
  border-color: var(--page-text);
}
#edit-page > div:last-child .section-container .select-btn {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: none;
}
#edit-page > div:last-child .section-container .select-btn a {
  background-color: var(--elements-background);
  color: var(--page-text);
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--page-secondary);
  transition: 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}
#edit-page > div:last-child .section-container .select-btn a:hover {
  background-color: var(--page-text);
  color: var(--elements-background);
}
#edit-page > div:last-child .section-container:hover .select-btn {
  display: block;
}
#edit-page > div:last-child .section-container #carousel-section-design {
  position: relative;
  grid-template-columns: 1fr;
}
#edit-page > div:last-child .section-container #carousel-section-design .side-div .side-new .side-new-image-div {
  flex-basis: 35%;
}
#edit-page > div:last-child .section-container #carousel-section-design .buttons {
  position: absolute;
  left: 24px;
  bottom: 24px;
}
#edit-page > div:last-child .section-container .carousel-div {
  margin-bottom: 1rem;
}
#edit-page > div:last-child .section-container .side-div {
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#edit-page > div:last-child .section-container #scroll-section {
  overflow: hidden;
}

#placements-page > div {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
#placements-page .news-search {
  border-right: 1px solid var(--page-secondary);
}
#placements-page #distribution-form .distribution-form-submit-btn {
  display: flex;
  justify-content: end;
  margin: 1rem;
}

.icon-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: none;
  border: none;
  border-radius: 1.2rem;
  color: var(--page-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  background-color: rgb(244, 244, 244);
}

.t-input {
  width: 50%;
  height: 27px;
  padding: 1.5rem 24px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5rem;
}
.t-input::-moz-placeholder {
  font-size: 1.5rem;
}
.t-input::placeholder {
  font-size: 1.5rem;
}
.t-input:focus-visible {
  outline: none;
}

#scroll-section-design {
  overflow-x: hidden;
}

.carousel-item img {
  aspect-ratio: 16/9;
}

@media screen and (max-width: 1024px) {
  #edit-page > div:last-child {
    grid-template-columns: 1fr;
  }
  #admin-container {
    grid-template-columns: 1.45fr 0.55fr;
  }
}
@media screen and (max-width: 768px) {
  #user-control {
    grid-column: 1/3;
  }
  #distribution-container {
    grid-column: 1/3;
  }
  .news-container .news-scroll-div {
    grid-auto-columns: calc(50% - 1rem);
  }
  #admin-container {
    margin: 0.5rem;
  }
  #user-control #user-search {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 570px) {
  .date-table {
    display: none;
  }
  #user-control #select-div #action-select {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .news-container .news-scroll-div {
    grid-auto-columns: calc(100% - 1rem);
  }
}/*# sourceMappingURL=staff.css.map */