@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/92d9892fa0ef64406bf151c8f730eff2?family=BBC+Reith+Serif');

* {
  font-family: inherit;
}

:root {
    --page-background: #fff;
    --elements-background:#fff;
    --pg-border: #e5e5e5;
    --page-text: #121212;
    --page-secondary: #aeb0b5;
    --icon-color: #000;
    --bg-hover: #dedbdb;
    --opacity: 0.8;
}

.dark-mode {
    --page-background: #272727;
    --elements-background:#424242;
    --pg-border: hsla(0, 0%, 100%, 0.1);
    --page-text: #dee2e6;
    --page-secondary: #aeb0b5;
    --icon-color: #727272;
    --bg-hover: #393939;
    --opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: none;
}

#body {
  background-color: var(--page-background);
  color: var(--page-text);
  overflow-x: hidden;
  font-family: "BBC Reith Serif";
}

.body-content {
  height: 100%;
  margin: 1rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

#main-header {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px var(--pg-border) solid;
    background-color: var(--page-background);
}

.main-header_search {
  display: flex;
  justify-content: left;
  width: 100%;
}

.min-search-form {
  flex: 1;
}

#main-header_content {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  grid-gap: 0 3rem;
}

#brand {
  font-family: 'Pirata One', system-ui;
  font-size: 2rem;
}

#min-search-btn {
  display: none;
}

.icon-div {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: center;
}

.icon-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: none;
  border: none;
  border-radius: 1.2rem;
  color: var(--page-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  background-color: var(--bg-hover);
}

#navbar-content {
  display: flex;
  flex-direction: row;
}


#toggle-button {
  border: none;
  padding: 0;
  display: flex;
}

.fa-circle-half-stroke {
  align-self: center;
  color: var(--icon-color);
}

#navbar-form {
  display: flex;
  align-items: center;
}

#navbar-toggler:hover {
  background: none;
}

#navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header .form-control {
  background: none;
  color: var(--page-text);
  caret-color: var(--page-text);
}

#main-header .form-control:focus {
  box-shadow: none;
}

#body ::placeholder {
  color: var(--page-text);
}

#search-button {
  background-color: var(--elements-background);
}

#search-button:hover {
  color: var(--page-text);
}

.drop-down-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#offcanvasNavbar {
  background-color: var(--elements-background);
}

.offcanvas-header {
  color: var(--page-text);
}

.btn-close:focus {
  box-shadow: none;
}

#body .list-group-item {
  background: var(--elements-background);
  border-color: var(--icon-color);
  color: var(--page-text);
  transition: 0.2s ease-in-out;
}

#body .list-group-item:hover {
  background-color: var(--bg-hover);
}

.main-section-button {
  border: none;
  color: inherit;
  padding: 0;
  background: none;
}

#body .drop-down-item:hover {
  background: none;
}

.item-a {
  text-decoration: none;
}

.list-group-flush > a > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

.list-group-flush > a:last-child > .list-group-item{
  border-bottom-width: 0 ;
}

.selected::before {
    background-color: rgb(184, 0, 0);
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    content: "";
    width: 8px;
    left: 0px;
    top: 0px;
}

.selected > div > .name-button {
  font-weight: 700;
}

.account-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.account-form {
  width: 45%;
  height: 50px;
  font-size: 1.25rem;
  font-weight: 600;
}

.account-btn {
  width: 100%;
  height: 100%;
}

.signin-btn, #back-btn {
  background: transparent;
  border: 3px var(--page-text) solid;
  transition: 0.3s ease-in-out;
}

.signin-btn:hover, #back-btn:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

.signup-btn {
   background-color: var(--page-text);
   color: var(--page-background);
   border: 3px var(--page-text) solid;
}

.account-drop-down {
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 1rem 0;
}

.a-dp-btn {
  background: none;
  border: none;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
  padding: 12px 13px;
  gap: 8px;
  width: 160px;
}

.a-dp-btn:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

#navbar {
  background-color: var(--page-background);
  color: var(--page-text);
  border-bottom: 1px solid var(--pg-border);
}

#navbar-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

#navbar-ul > a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  position: relative;
  transition: .2s ease-in-out;
}


#navbar-ul > a:hover {
  background-color: var(--bg-hover);
}

li.nav-dd-item:hover::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(184, 0, 0);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.clicked::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(184, 0, 0);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.drop-down {
  display: inline;
  position: relative;
}

#sub_nav {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid black;
}

#sub_nav > a {
  color: inherit;
  font-size: .85rem;
  text-decoration: none;
}

#sub_nav li {
  width: 100%;
  height: 100%;
  padding: .25rem .5rem;
}

#sub_nav li:hover {
  background-color: var(--bg-hover);
}

#main-container {
    display: grid;
}

#carouselmain button {
  z-index: 0;
}

#carousel-container {
    grid-column: 1 / span 10;
}

.timestampDiv {
    border-right: solid 1.5px black;
    width: max-content;
    display: inline;
    padding-right: 6px;
    margin-right: 4px;
}

.categoryDiv {
  display: inline;
}

.mainText {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.secondaryText {
    color: gray;
    font-size: 0.5rem;
}

.card-text {
    overflow: hidden;
     
}

.postSecondaryInfo {
    display: flex;
}

#card-body {
  padding-left: 5%;
  text-align: start;
}

#body .card:hover {
     background-color: var(--bg-hover);
     transition: 0.3s ease-in-out;
}

#body .card {
  background: inherit;
  color: inherit;
}

#secondary-container {
  grid-column: 11 / span 2;
  overflow: hidden;
}

#secondary-container-div {
   height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
}

#top-new {
  grid-row: 1 / span 2;
}

.min-new-img {
    object-fit: contain
}

.min-new-img-div {
  aspect-ratio: 1 / 1;
  height: 100%;
}

.main-search-div {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
}

.sub-main-search-div {
  width: 80%;
  padding: 40px 0 48px;
  display: grid;
  gap: 24px;
  vertical-align: baseline;
}

.h-card {
  text-decoration: none;
  color: unset;
  border-bottom: 1px solid var(--bg-hover);  
  min-height: 190px;
  position: relative;
  display: block;
}

.h-card:hover {
  cursor: pointer;
}

.h-card:hover h4 {
  text-decoration: underline;
}

.h-card:hover img {
  opacity: var(--opacity);
}

.sub-headline {
  text-decoration: none;
}

.h-card-main-image-div {
  position: relative;
  float: right;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 300px;
}

.h-card-image-div {
  height: 100%;
  width: 100%;
}

.h-card-image {
  width: 100%;
}

.sub-headline-div {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--page-text);
  margin-bottom: 56px;
}

.pagination {
  justify-content: center
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1046;
  overflow: auto;
}

.popup {
  position: relative;
  background-color: var(--page-background);
  margin: 80px auto; /* Centered horizontally and vertically */
  padding: 52px 72px;
  width: 548px; /* Adjust as needed */
  border-radius: 28px;
}

.popup-form {
  display: grid;
  gap: 1.5rem;
}

.btn-close.setting-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.popup-brand {
  font-family: 'Pirata One', system-ui;
  margin-bottom: -1rem;
  font-size: 1.5rem
}

.popup-input-div {
  position: relative;
}

.popup-input {
  width: 100%;
  height: 60px;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-hover);
  outline: none;
  background-size: 100%;
}

.popup-input:hover {
  background-image: linear-gradient(to bottom, transparent, transparent 58px, var(--page-secondary) 58px, var(--page-secondary));
}

.popup-input:focus {
  background-image: linear-gradient(to bottom, transparent, transparent 58px, var(--page-text) 58px, var(--page-text));
}

.popup-input.is-invalid, #body .form-control.is-invalid, #body .form-control.is-invalid:focus {
  background-image: linear-gradient(to bottom, transparent, transparent 97%, #f95252 97%, #f95252);
  border-color: #f95252;
  box-shadow: none;
}

.popup-input:focus, .popup-input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
}

.popup-label {
  font-size: .875rem;
  color: var(--page-secondary);
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.5rem;
  border: 1px solid transparent;
  pointer-events: none;
  transform-origin: 0 0;
  transition: .1s ease-in-out;
}

.popup-input:focus~.popup-label, .popup-input:not(:placeholder-shown)~label {
  transform: scale(.8571) translateY(-.5rem) translateX(.15rem);
}

.popup-btn {
  height: 52px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: .875rem;
  transition: .3s ease-in-out;
}

#continue-btn {
  background-color: #FC0;
  color: var(--page-background);
}

#continue-btn:hover {
  background-color: black;
  color: white;
}

#done-btn, #delete-btn {
  background-color: #30f;
  color: white;
}

#done-btn:hover, #delete-btn:hover {
  background-color: #2b00d9;
}

#cancel-btn {
  background-color: transparent;
  border: 3px solid var(--page-text);
  color: var(--page-text);
  margin-top: -.75rem;
}

#cancel-btn:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

.error-p {
  color: #cf3939;
  font-size: .85rem;
  height: min-content;
  margin: -1rem 0;
}

.ai-input {
  display: flex;
  align-items: center;
  padding: 1.3rem 0;
  border-bottom: 1px solid var(--page-text);
  align-self: stretch;
}

.ai-input:hover > .icon-btn {
  background-color: var(--bg-hover);
}

.field {
  flex: 1;
}

.field_title {
  font-size: .875rem;
  line-height: 1.5rem;
}

.min-font {
  margin: 0;
  font-size: .8rem;
  line-height: 1.5rem
}

.focus-link {
  text-decoration: none;
  color: #a6b8ff;
  width: min-content;
  white-space: nowrap;
}

.focus-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.otp-div {
  padding: .75rem 0;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, minmax(40px, 1fr));
  justify-content: space-between;
  align-items: center;
}

.otp-div>.otp-input {
  aspect-ratio: 91/100;
  border-radius: .25rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
  background: var(--bg-hover);
  color: var(--page-text);
  min-height: 72px;
  padding: 0;
}

.otp-input:focus {
  outline: 0;
  background-image: linear-gradient(to right, transparent, transparent), linear-gradient(to right, var(--page-text), var(--page-text));
  background-size: 100% 3px, 100% 3px;
  background-position: bottom, bottom;
  border: 2px solid var(--page-text);
  background-repeat: no-repeat;
  background-color: var(--bg-hover);
  color: var(--page-text);
}

.separator-div {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: center;
}

.separator {
  background-color: var(--bg-hover);
  flex-grow: 1;
  height: .1rem;
}

.or-separator {
  color: var(--page-secondary);
  font-size: 1.25rem;
  padding: 0 1.5rem;
}

.socialaccount-div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.social-login {
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: none;
  border-radius: .5rem;
  font-size: 1.25;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 3rem;
}

.Google-login {
  background-color: #fff;
  color: #262421;
}

.Google-login:hover {
  background-color: #f1f1f1;
}

.Github-login {
  background-color: #000;
  color:  white;
}

.Github-login:hover {
  background-color: #151515;
}

.Facebook-login {
  background-color: #1778f2;
  color: white;
}

.Facebook-login:hover {
  background-color: #096bd6;
}

.G-logo {
  height: 2.2rem;
  left: 1.5rem;
  position: absolute;
  width: 2.2rem;

}

.G-logo::before {
  background-image: url(/static/CS50_News/bundles/G.png); 
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.social-login-logo {
  height: 2.2rem;
  left: 1.5rem;
  position: absolute;
  width: 2.2rem;
}

.social-login-logo>svg{
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.F-logo::before {
  background-image: url(/static/CS50_News/bundles/F.svg);
}

.Cat-logo::before {
  background-image: url(/static/CS50_News/bundles/Cat.png);
}

.side-new {
  border-bottom: 1px solid var(--pg-border);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-wrapper {
  width: min(90%, 800px);
  position: absolute;
  transform: translateX(-50%);
  top: 1em;
  left: 50%;
  background-color: #ffffff;
  padding: 2em 3em;
  border-radius: 0.5em;
}
.custom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  border-radius: 7px;
}
.custom-container .custom-image-container,
.custom-container .custom-preview-container {
  width: 100%;
}
#custom-file {
  display: none;
}
.label {
  display: block;
  position: relative;
  background-color: #025bee;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 250px;
  padding: 16px 0;
  border-radius: 0.3em;
  margin: 16px auto;
  cursor: pointer;
}
.img-crop {
  display: block;
  max-width: 100%;
}
.custom-image-container {
  width: 60%;
  margin: 0 auto;
}
.custom-options {
  display: flex;
  justify-content: center;
  gap: 1em;
}
input[type="number"] {
  width: 100px;
  padding: 16px 5px;
  border-radius: 0.3em;
  border: 2px solid #000000;
}
.button {
  padding: 1em;
  border-radius: 0.3em;
  border: 2px solid #025bee;
  background-color: #ffffff;
  color: #025bee;
}
.custom-btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
.custom-btns button {
  font-size: 1em;
}
.custom-btns a {
  border: 2px solid #025bee;
  background-color: #025bee;
  color: #ffffff;
  text-decoration: none;
  padding: 1em;
  font-size: 1em;
  border-radius: 0.3em;
}
.custom-hide {
  display: none;
}

@media screen and (max-width: 1024px) {
  #navbar {
    display: none;
  }
  #sub_nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #min-search-btn {
    display: flex;
  }
  #navbar-form {
    display: none;
  }
  #offcanvasNavbar {
    width: 100%;
  }
}
